.logo {
  width: 40px;
  margin-top: 14px;
  margin-left: 20px;
}

.icon {
  width: 16px;
  height: 16px;
  margin: 10px;
  margin-bottom: -5px;
  margin-top: 23px;
}
.nav-wrapper {
  background-color: #ffd145;
}
